/* @font-face */
/* @font-face {
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@font-face {
    font-family: "Montserrat";
    src: '../fonts/Montserrat/Montserrat-Regular.ttf';
} */

@font-face {
    font-family: "Montserrat-bold";
    src: '../fonts/Montserrat/Montserrat-ThinItalic.ttf';
}